In [92]:
# -*- coding: utf-8 -*-
"""
Created on Thu Jun  3 16:05:35 2021

@author: Omar
"""

import nltk
from nltk import pos_tag,TreebankWordTokenizer
import numpy as np
import os
import csv
import pandas as pd

In [93]:
headers = []
body = []
with open('train_arabic.csv', 'r',encoding='utf-16-le') as reader:
    lines = reader.readlines()
    count = 0
    for line in lines:
        if(count%10000 ==0):
            print("Finished "+str(count)+ "lines")
        if(count == 0):
            headers.append(line.split(','))
        else:
            body.append(line.split(','))

        count += 1

df_with_empty_col = pd.DataFrame(data = body,columns = headers)

Finished 0lines
Finished 10000lines
Finished 20000lines
Finished 30000lines
Finished 40000lines
Finished 50000lines
Finished 60000lines
Finished 70000lines
Finished 80000lines

In [94]:
df = df_with_empty_col.iloc[:,:-3]
df

,﻿conv_id,utterance_idx,context,prompt,translated_prompt,speaker_idx,utterance,translated_utterance,selfeval,tags
0,hit:0_conv:1,1,sentimental,I remember going to the fireworks with my best...,"""أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...",1,I remember going to see the fireworks with my ...,"""أتذكر أنني ذهبت لمشاهدة الألعاب النارية مع أع...",5|5|5_2|2|5,
1,hit:0_conv:1,2,sentimental,I remember going to the fireworks with my best...,"""أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...",0,Was this a friend you were in love with_comma_...,هل كان هذا الصديق الذي كنت تحبه أم مجرد أفضل ص...,5|5|5_2|2|5,
2,hit:0_conv:1,3,sentimental,I remember going to the fireworks with my best...,"""أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...",1,This was a best friend. I miss her.,كان هذا أفضل صديق. اشتقت لها.,5|5|5_2|2|5,
3,hit:0_conv:1,4,sentimental,I remember going to the fireworks with my best...,"""أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...",0,Where has she gone?,اين ذهبت؟,5|5|5_2|2|5,
4,hit:0_conv:1,5,sentimental,I remember going to the fireworks with my best...,"""أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...",1,We no longer talk.,لم نعد نتحدث.,5|5|5_2|2|5,
...,...,...,...,...,...,...,...,...,...,...
83112,hit:12424_conv:24848,5,sentimental,I found some pictures of my grandma in the att...,,389,Yeah reminds me of the good old days. I miss ...,,5|5|5_5|5|5,
83113,hit:12424_conv:24849,1,surprised,I woke up this morning to my wife telling me s...,,294,I woke up this morning to my wife telling me s...,,5|5|5_5|5|5,
83114,hit:12424_conv:24849,2,surprised,I woke up this morning to my wife telling me s...,,389,Oh hey that's awesome! That is awesome right?,,5|5|5_5|5|5,
83115,hit:12424_conv:24849,3,surprised,I woke up this morning to my wife telling me s...,,294,It is soooo awesome. We have been wanting a b...,,5|5|5_5|5|5,
83116,hit:12424_conv:24849,4,surprised,I woke up this morning to my wife telling me s...,,389,That is awesome!!!! Congratulations!,,5|5|5_5|5|5,

In [95]:
df['context']

           context
0      sentimental
1      sentimental
2      sentimental
3      sentimental
4      sentimental
...            ...
83112  sentimental
83113    surprised
83114    surprised
83115    surprised
83116    surprised

[83117 rows x 1 columns]

In [96]:
df['translated_prompt'][:83108]

                                       translated_prompt
0      "أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...
1      "أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...
2      "أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...
3      "أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...
4      "أتذكر ذهابي إلى الألعاب النارية مع أعز أصدقائ...
...                                                  ...
83103     استيقظت هذا الصباح على زوجتي تخبرني أنها حامل!
83104     استيقظت هذا الصباح على زوجتي تخبرني أنها حامل!
83105
83106
83107

[83108 rows x 1 columns]

In [97]:
sentence = df['translated_prompt'].values[1]

words,x =  TreebankWordTokenizer(sentence)
list_p = pos_tag(words)
print(sentence)
print(list_p)

TypeError: TreebankWordTokenizer() takes no arguments